@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --soft-red: hsl(0, 93%, 68%);
    --desatured-red: hsl(0, 36%, 70%);
    --dark-red: hsl(0, 6%, 24%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    letter-spacing: 10px;
    line-height: 70px;
}

.grid {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-items: start;
    grid-template-areas:
      "col-1 col-2";
  }
  
.container{
    max-width: 700px;
    margin: 0 auto;

}

.col-1{ 
    grid-area: col-1; 
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.progress{
    margin-top: 100px;
}

.logo{
    margin-top: 65px;
}

.hero-img{
    width: 100%;
    height: 100vh;
}

.hero-title{
    margin-top: 200px;
    font-size: 70px;
    font-weight: 600;
    width: 90%;
    color: var(--dark-red);
}

.hero-title span{
    color: var(--desatured-red);
    font-weight: 300;
}

.hero-text{
    width: 75%;
    font-size: 20px;
    line-height: 30px;
    color: var(--desatured-red);
    margin-top: 25px;
}

.hero-form{
    margin-top: 60px;
    width: 520px;
    display: grid;
    grid-template-columns: 1.2fr 0.3fr;
    grid-template-rows: 1fr;

}

.hero-input{
    width: 100%;
    padding: 15px 15px;
    border-radius: 25px;
    border: 1.5px solid var(--desatured-red);
    z-index: 1;
    grid-area: 1 / 1 / 2 / 3;

}

.hero-btn{
    padding: 5px;
    z-index: 2;
    width: 100%;
    grid-area: 1 / 2 / 2 / 3; 
    border: 1.5px solid var(--desatured-red);
    background-color: var(--desatured-red);
    border-radius: 25px;
    justify-self: flex-end;
}

::placeholder {
    color: var(--desatured-red);
    font-size: 18px;
  }

.col-2 { 
    grid-area: col-2; 
    background-image: url(../images/hero-desktop.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


